:root {
    --clr-primary-400: 263 55% 52%;
    --clr-secondary-400: 217 19% 35%;
    --clr-secondary-500: 219 29% 14%;
    --clr-neutral-100: 0 0% 100%;
    --clr-neutral-200: 210 46% 95%;
    --clr-neutral-300: 0 0% 81%;
  
    --ff-primary: "Barlow Semi Condensed", sans-serif;
  
    --fw-400: 500;
    --fw-700: 600;
    
    --fs-300: 0.6875rem;
    --fs-400: 0.8125rem;
    --fs-500: 1.25rem;
  }
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd{
    margin: 0;
  }  
.primary-navigation {
    display:inline;      
}
@media (max-width: 35em)
{
    .primary-navigation
    {
        position: fixed;
        inset: 0 0 0 30%;
        background: steelblue;
        background: hsl(0 0% 100% / 0.1);
        
    }
}
.primary-header {
    align-items: normal;
    justify-content: space-between;
}
.primary-navigation {
    list-style: none;
    padding: 0;
    margin: 0;

    background: hsl(0 0% 50% / 0.1);
    backdrop-filter: blur(1rem);
}

.flex {
    display: flex;
    gap: var(--gap, 8.1rem);
}
.grid {
    display: grid;
    gap: var(--gap, 1rem);
}
.primary-navigation a {
    text-decoration: none;
}
.primary-navigation a > [aria-hidden="true"] {
    font-weight: 700;
    margin-inline-end: 0.75em;
}
.primary-navigation {
    font-family: sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@700&display=swap');

*{
    font-family: 'Source Sans 3', sans-serif;
    letter-spacing: 2px;
}

.btn-1{
    width: 300px;
    height: 100px;
    border: none;
    color: black;
    background-color: lightseagreen;
    border-radius: 2px;
    box-shadow: inset 0 0 0 0 lightskyblue;
    transition: ease-out 0.3s;
    font-size: 2rem;
    outline: none;
}
.btn-1:hover{
    box-shadow: inset 300px 0 0 0 darkseagreen;
}
.btn-2{
    width: 300px;
    height: 100px;
    border: none;
    color: black;
    background-color: lightseagreen;
    border-radius: 2px;
    box-shadow: inset 0 0 0 0 lightskyblue;
    transition: ease-out 0.3s;
    font-size: 2rem;
    outline: none;
}
.btn-2:hover{
    box-shadow: inset 300px 0 0 0 darkseagreen;
}
.btn-3{
    width: 300px;
    height: 100px;
    border: none;
    color: black;
    background-color: lightseagreen;
    border-radius: 2px;
    box-shadow: inset 0 0 0 0 lightskyblue;
    transition: ease-out 0.3s;
    font-size: 2rem;
    outline: none;
}
.btn-3:hover{
    box-shadow: inset 300px 0 0 0 darkseagreen;
}
.btn-4{
    width: 300px;
    height: 100px;
    border: none;
    color: black;
    background-color: lightseagreen;
    border-radius: 2px;
    box-shadow: inset 0 0 0 0 lightskyblue;
    transition: ease-out 0.3s;
    font-size: 2rem;
    outline: none;
}
.btn-4:hover{
    box-shadow: inset 300px 0 0 0 darkseagreen;
}
.paragraf-grid {
    padding-block: 2rem;
    width: min(95%, 70rem);
    margin-inline: auto;
  }
.paragraf {
    font-size: var(--fs-400);
    padding: 5rem;
    border-radius: 0.5rem;
    box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--clr-secondary-400) / 2);
    background: rgba(1, 95, 89, 0.9)
  }
.bg-neutral-100 {
    background: hsl(var(--clr-neutral-100));
  }
  
.text-neutral-100 {
    color: black;
  }
.imagine {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}